@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #e4e7ed;
    --primary-color: black;
    --accent-color: #3902ff;
    --border-color: #aaa;

    font-family: "Montserrat", serif;
    font-weight: 400;

    color: var(--primary-color);
    background-color: var(--accent-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
}

button {
    border-radius: 6px;
    border: 1px solid var(--accent-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-bg-color);
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease;
}
button:hover {
    background-color: var(--accent-color);
    color: white;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 640px) {
    .btn-cart {
        font-size: 0.85em;
    }
}


@media (max-width: 1024px) {
    .btn-filter:hover {
        color: black;
    }
}
